body {
    font-family:'Roboto', sans-serif;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.94);
    color: white;
}
img {
    width: 90vw;
}
a {
    text-decoration: none;
    color: white;
}
.header1 {
    text-align: left;
    font-size: 8vW;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    gap: 2vW;
    justify-content: center;
    position: sticky;
    top: 0px;
    border: 5px arial solid;
    border-radius: 10px;    
    background-color: rgb(252, 214, 165);
}
.navbar > a:hover {
    color: rgba(19, 18, 18, 0.618);
}
.flex-container1 {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.flex-container1 > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
}
.flex-container1 > * > * {
    margin: 1vw;
}
footer {
    background-color: rgb(25, 23, 23);
}
.smedia-icons-container {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: left;
}
.smedia-icons-container > a > img{
    width: 30px;
    background-color: rgba(255, 255, 255, 0.778);
}
.smedia-icons-container > a:hover {
    background-color: rgba(74, 72, 72, 0.863);
}
.contact-container1 {
    display: flex;
    gap: 20px;
}
@media screen and (min-width:1024px) {
    .header1 {    
        font-size: 8vW;
    }
    .smedia-icons-container {
        display: flex;
        justify-content: left;
    }
    .smedia-icons-container > a > img {
        margin: none;
    }
}
@media screen and (max-width:800px){
    img {
        width: 90vw;
        margin: 0 5% 0 10%;
    }
}
